<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="Ping" type="WCFBehaviors.PingEndpointBehavior, WCFBehaviors" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior> <!-- default behavior -->
          <Ping />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
        <diagnostics>
            <messageLogging logEntireMessage="false" logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" maxMessagesToLog="3000" />
        </diagnostics>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
    <system.diagnostics>
        <sources>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Off">
                <listeners>
                    <add name="AppFabricTracing" />
                </listeners>
            </source>
            <source propagateActivity="true" name="System.Activities" switchValue="Off">
                <listeners>
                    <add name="AppFabricTracing" />
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging">
                <listeners>
                    <add name="AppFabricMessageLogging" />
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="AppFabricTracing" initializeData="C:\Temp\fooTrace.svclog" type="System.Diagnostics.XmlWriterTraceListener" />
            <add name="AppFabricMessageLogging" initializeData="C:\Temp\foo.svclog" type="System.Diagnostics.XmlWriterTraceListener" />
        </sharedListeners>
    </system.diagnostics>
</configuration>
